{% extends "default.twig" %}

{% block header %}
<!-- Visually Hidden Preheader Text : BEGIN -->
<div style="display: none; font-size: 1px; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden; mso-hide: all; font-family: sans-serif;">
  (Optional) This text will appear in the inbox preview, but not the email body. It can be used to supplement the email subject line or even summarize the email's contents. Extended text preheaders (~490 characters) seems like a better UX for anyone
  using a screenreader or voice-command apps like Siri to dictate the contents of an email. If this text is not included, email clients will automatically populate it using the text (including image alt text) at the start of the email's body.
</div>
<!-- Visually Hidden Preheader Text : END -->
{% endblock %}

{% block content %}
<!-- Hero Image, Flush : BEGIN -->
<tr>
  <td bgcolor="#ffffff" align="center">
    <img src="http://static.ballistixmail.com/visitonline/VIS11867_Calendar-Discount-Campaign_EDM/img/hero.jpg" width="600" height="472" alt="alt_text" border="0" align="center" style="max-width: 100%; width: 600px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="g-img">
  </td>
</tr>
<!-- Hero Image, Flush : END -->
<!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 40px 60px 10px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
          <p style="margin: 0 0 16px; font-weight: bold; color: #e95b21;">Hello Name</p>
          <p style="margin: 0 0 16px; font-weight: normal;">There are two reasons why now is the time to get moving on 2019 calendar sales.</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- 1 Column Text : END -->
<!-- Bullet List : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 10px 80px 20px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto" width="100%">
            <tr>
              <td style="padding: 0 0 16px; text-align: left" valign="center" width="50px">
                <img src="http://static.ballistixmail.com/visitonline/VIS11867_Calendar-Discount-Campaign_EDM/img/1.png" width="18" height="38" alt="alt_text" border="0" class="fluid" style="max-width: 100%;height: auto; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="center">
                <p style="margin: 0 0 16px; font-weight: normal;">Christmas and New Year is fast closing in. Move early to maximise sales.</p>
              </td>
            </tr>
            <tr>
              <td style="padding: 0 0 16px; text-align: left" valign="center" width="50px">
                <img src="http://static.ballistixmail.com/visitonline/VIS11867_Calendar-Discount-Campaign_EDM/img/2.png" width="33" height="38" alt="alt_text" border="0" class="fluid" style="max-width: 100%;height: auto; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="center">
                <p style="margin: 0 0 16px; font-weight: normal;">Act now, you can save up to 35% on our large-format 2019 calendars, enjoying a whopping 68% sales margin on their recommended retail price.</p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- Bullet List : END -->
<!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 0 60px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
          <p style="margin: 0 0 16px; font-weight: normal;">As you’ll see directly below, these calendars feature spectacular imagery taken by professional photographers in a large, eye-catching 242x340mm format that is a proven sales winner.</p>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 60px 16px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; text-align: center;">
          <img src="http://static.ballistixmail.com/visitonline/VIS11867_Calendar-Discount-Campaign_EDM/img/tourist_spots.jpg" width="471" height="336" alt="alt_text" border="0" class="fluid" style="max-width: 100%; height: auto; font-family: sans-serif; font-size: 15px; line-height: 1;">
        </td>
      </tr>
      <tr>
        <td style="padding: 0 60px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
          <p style="margin: 0 0 16px; font-weight: normal;">They’re all 100% Australian made.</p>
          <p style="margin: 0 0 16px; font-weight: normal;">And we offer an extraordinarily wide range of titles — a total 21 local and national titles to help you maximise both local and domestic sales.</p>
          <p style="margin: 0 0 16px; font-weight: normal;">For a limited time, the wholesale price of these calendars is only $2.85 per calendar in a pack quantity of 20 — a dollar less per unit than the normal price. It’s a golden opportunity to make extra
            profit on a high-demand item.</p>
          <p style="margin: 0 0 16px; font-weight: normal;">Let’s catch up quickly for 8 minutes and I’ll run you through all the details. </p>
          <p style="margin: 0 0 16px; font-weight: normal;">Chat soon.</p>
          <p style="margin: 0 0 16px; font-weight: bold; color: #e95b21;">Salesperson</p>
          <p style="margin: 30px 0 16px; font-weight: bold; font-size: 12px; color: #999999;">* Calendars are sold per calendar in a pack quantity of 20 per title</p>
        </td>
      </tr>
    </table>
  </td>
</tr>
<!-- 1 Column Text : END -->
{% endblock %}

{% block footer %}
<!-- Hero Image, Flush : BEGIN -->
<tr>
  <td bgcolor="#ffffff" align="center">
    <img src="http://static.ballistixmail.com/visitonline/VIS11867_Calendar-Discount-Campaign_EDM/img/footer.jpg" width="600" height="88" alt="alt_text" border="0" align="center" style="max-width: 100%; width: 600px; height: auto; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; margin: auto;" class="g-img">
  </td>
</tr>
<!-- Hero Image, Flush : END -->
{% endblock %}
